highlight:
  noClasses: false
goldmark:
  renderer:
    unsafe: true
  extensions:
    passthrough:
      delimiters:
        block: [['\[', '\]'], ["$$", "$$"]]
        inline: [['\(', '\)'], ["$", "$"]]
      enable: true
